.cardTable {
    width: 925px;
    height: 1100px;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px #3a3939;
    background-color: #42a6f2;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.image {
    height: 300px;
    padding-right: 10px;
}
