.cardTable {
    width: 1000px;
    margin: auto;

    background-color: blue;
    display: flex;
    flex-direction: row;
    overflow-wrap: normal;
}

.image {
    height: 300px;
    padding-right: 10px;
}
